/* Estilos generales */
html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: sans-serif;
    background-color: #fff;
}
/* BARRA DE MENÚ */
header {
    width: 100%;
    height: 200px;
    text-align: center;
    position: relative;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 9999;
    background-color: #fff;
    transition: background-color 0.15s ease;

}

header:hover {
    background-color: #fff;
}

header:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity 0.10s ease;
}

header nav a {
    color: rgb(0, 0, 0);
}


header:hover nav a {
    text-decoration: none;

}

nav a:hover {
    color: #063970;
    /* Color al pasar el mouse */
    font-weight: bold;
    /* Hacer el texto más grueso */

}



header nav {
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    margin-bottom: 80px;
}

header nav {
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    margin-bottom: 80px;
}

nav a {
    color: black;
    display: inline-block;
    padding: 20px 30px;
    line-height: 1;
    text-decoration: none;
    text-align: center;
}



/*Logo*/
.Logo {
    margin-right: 120px;
    width: 40px;
    height: 40px;
    float: left;
}

.Logo img {
    width: 180px;
    height: auto;
    margin-top: -80px;

}


.dropdown {
    position: relative;
    display: inline-block;
    z-index: 10000;
    /* Ajusta el valor según sea necesario */
}

.dropbtn {
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: max-content; /* Cambiamos esto */
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block; /* Cambiamos esto */
    opacity: 0.5; /* Opacidad predeterminada */
    transition: opacity 0.3s ease; /* Transición suave */
}
.dropdown-content a:hover {
    opacity: 1;
    /* Opacidad al pasar el mouse */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ffffff;
}


/*MARQUEE -barrita negra de envios gratis */
.marquee-space {
    height: 20px;
}

.marquee {
    margin-top: 156px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    background-color: black;
    width: 100%;
}

.marquee-text {
    display: inline-block;
    margin-left: 2px;
    animation: marquee-scroll var(--duration, 7s) linear infinite;
    color: #fff;

}




.marquee-text:after {
    content: "📦 Envíos GRATIS  ";
}

@keyframes marquee-scroll {
    from {
        transform: translateX(2%);
    }

    to {
        transform: translateX(-100%);
    }
}


.carrito {
    width: 20px;
    height: 20px;
    float: right;
    margin-top: -10px;

}
.user {
    margin-left: 20px;
    margin-right: 100px;
    width: 40px;
    height: 40px;
    float: right;
    margin-top: -10px; 

}
.Logo {
    margin-right: 120px;
    width: 40px; 
    height: 30px;
    float: left; 
}
.Logo img{
    width: 180px;
    height: 160px;
    margin-top: -80px; 
   
}





/* Estilos para la sección de productos */

.producto h3 {
    font-size: 18px; 
}


.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; 
    padding: 20px; 
}

.producto {
    width: calc(33.33% - 30px);
    margin: 15px;
    box-sizing: border-box;
}

.producto img {
    width: 100%;
    height: auto;
}


/*FOOTER*/
footer {

    height: 38ch;
    margin-top: 3%;
    background-color: black;
    color: white;
    padding: 30px;
}

.footer-columns {
    display: flex;
}

.footer-column {
    margin-right: 40px;
    flex: 1;
}
/*Fatimasssssss*/

.footer-column h4 {
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 10px; 
}

.social-icons {
    display: flex;
    gap: 1.8rem;
}

.social-icons span {
    border-radius: 45%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons span i {
    color: #fff;
    font-size: 1.2rem;
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #00acee;
}

.youtube {
    background-color: #c4302b;
}

.pinterest {
    background-color: #c8232c;
}

.instagram {
    background: linear-gradient(
        #405de6,
        #833ab4,
        #c13584,
        #e1306c,
        #fd1d1d,
        #f56040,
        #fcaf45
    );
}

/* Ajustes de estilo para el copyright dentro del footer */
.footer-content {
   margin: 20px;
}

.footer-content .copyright {

    position: absolute;
    text-align: center;
    bottom: 20;
    left: 0;
   /* width:214ch;*/
    width: 207ch;

    border-top: 1px solid #d2b495;
    margin-top: 20px;
    margin-left: 30px;
}

.footer-content .copyright p {
    font-weight: 400;
    font-size: 1.2rem; 
}

.buttonSection {
    width: 120px;
    height: 40px;
    background-color: #000; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto; 
}

.buttonSection:hover {
    background-color: #333; 
}
#opciones {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.buttonOpcion {
    width: 100%;
    text-align: center;
    
}

.buttonOpcion button {
    margin: 5px;
    padding: 10px 20px;
    width: auto;
    height: 40px;
    border: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    border-radius: 2rem;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}


.ver-mas-btn:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}


.addCard{
    cursor: pointer;
}
