
h2{
    text-align: center;
    margin-bottom: 50px; 
    }

section {
        border-left: 3px solid #ccc;
        border-right: 3px solid #ccc;
        border-top: 3px solid #ccc;
        padding: 20px;
    }
.buttonSection {
    width: 120px;
    height: 40px;
    background-color: #000; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto; 
}

.buttonSection:hover {
    background-color: #333; 
}
#opciones {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.buttonOpcion {
    width: 100%;
    text-align: center;
    
}

.buttonOpcion button {
    margin: 5px;
    padding: 10px 20px;
    width: auto;
    height: 40px;
    border: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    border-radius: 2rem;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}


.ver-mas-btn:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}


/* SLIDER*/
.anuncio {
    width: 100%;
    height: 520px;
    max-width: 100%;
    overflow: hidden;
    margin-top: 180px;
    margin-bottom: 50px;
}
.anuncio img {
    width: 100%;
    height: 520px;
}

 /* Estilos para cada producto */
.productos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.producto {
    width: calc(23% - 20px);
    height: auto;
    border: 3px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
}

.producto img {
    width: 100%;
    height: auto;
}

.producto h3 {
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
    margin-right: 5px;
}

.producto p {
    font-size: 16px;
    margin-bottom: 20px; 
}

.producto button {
    width: 90px;
    height: 30px;
    margin-bottom: 20px;
    background-color: #000;
    color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.producto button:hover {
    background-color: #333;
    color: #fff;
}
